<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobs</title>
    <link rel="stylesheet" href="/stylesheets/jobs.css">
  </head>
  <body>
    <div class="container">
      <h1>Add New Jobs</h1>
        <div class="page">
      <form action="/employer/add-new-job" method="post" class="form">
        <div class="input">
          <label for="">Job-Title</label>
          <input type="text" name="Job_Title" required/> 
        </div>
        <br />
        <div class="input">
          <label for="">Company Name</label>
          <input type="text" name="Company_Name"required/> 
        </div>
        <br />
        <div class="input">
          <label for="">Location</label>
          <input type="text" name="Location" required/> 
        </div>
        <br />
        <div class="input">
          <label for="">Experience</label>
          <input type="text" name="Experience"required />
        </div>
        <br />
        <div class="input">
          <label for="">Job Type</label>
          <input type="text" name="Job_Type"required /> 
        </div>
        <br />
        <div class="input">
          <label for="">Skills</label>
          <input type="text" name="Skills"required/> 
        </div>
        <br />
        
        <div class="input"> 
          <label for="">Job Description</label>
          <input type="textarea" name="Job_Description"required/> 
        </div>
        <br />
        <div class="input"> 
          <label for="">Date of Expiry</label>
          <input type="date" name="Date_of_expiry" required />
        </div>
        <br />
        <div class="input">
          <label for="">Vaccancies</label>
          <input type="number" name="Vaccany"required />
        </div>
        <br>
        <button class="btn" type="submit">Submit</button>
    </div>
      </form>
    </div>
  </body>
</html>
