<link rel="stylesheet" href="/stylesheets/employerlogin.css">
<div class="container">
  <div class="title">Login</div>
  <form action="">
    <div class="sub-class">
      <label class="details">Username</label>
      <input type="text" placeholder="Enter username" />
    </div>
    <div class="sub-class">
      <label class="details">Password</label>
      <input type="text" placeholder="Enter password" />
    </div>

    <button type="submit" class="btn">Login</button>

</div>
</form>