    <link rel="stylesheet" href="stylesheets/signup.css">
    <div class="container">
      <div class="title">Sign Up</div>
      <form action="#">
        <div class="user-details">
        <div class="input-box">
        <label class="details">Full Name</label>
        <input type="text" placeholder="Enter your name" />
    </div>
    <div class="input-box">
        <label class="details">Email Id</label>
        <input type="text" placeholder="Enter your email" />
    </div>
    <div class="input-box">
        <label class="details">Phone Number</label>
        <input type="text" placeholder="Enter your number" />
    </div>
    <div class="input-box">
        <label class="details">Password</label>
        <input type="text" placeholder="Enter your password" />
    </div>
    <div class="input-box">
        <label class="details">Confirm Password</label>
        <input type="text" placeholder="Confirm your password" />
    </div>
    
    <div class="radiobtn">
      <label  class="details">
        Work-Status
      </label> 
        <input type="radio" id="rbtn" name="fav_language" value="Experienced">
  <label >Experienced</label><br>
  <input type="radio" id="rbtn" name="fav_language" value="Fresher">
  <label >Fresher</label><br>
    </div>
    </div>
    <!-- <div class="button"> -->
        <!-- <input type="Submit"value="Register"> -->
        <button type="submit" class="submit">Register</button>

    <!-- </div> -->
</div>

    </form>
